MONGODB_URI=mongodb://localhost:27017/traidores
JWT_SECRET=cambia_esto_por_una_clave_larga_y_secreta
MASTER_PASSWORD=contraseña_del_mc
PORT=4000
# Opcionales
GAME_TIMEZONE=Europe/Madrid
CORS_ORIGIN=*
